* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
  background-color: #1d1d1d;
  color: white;
  min-height: 100vh;
}
h1 {
  margin: 1.5rem;
}

@import "./outputdiv.scss";
@import "./buttons.scss";
