* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.btn {
  padding: 1rem;
  margin: 1rem;
}
.enter {
  margin: 3rem;
  padding: 1rem;
  width: 70%;
}
